<h1 class="text-center">Add dose to <%= @cocktail.name %></h1>


<div class="container">
  <div class="text-center">
    <% @cocktail.doses.each do |dose| %>
    <%= dose.ingredient.name %>
    <%= dose.description %>
    <% end %>
  </div>

<br>
    <div class="form-inputs">
      <%= simple_form_for [@cocktail, @dose] do|f| %>
      <%= f.input :description %>
      <%= f.association :ingredient %>
    </div>

    <div class="form-actions">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  <% end %>
  <br>
  <br>
    <%= link_to "Edit", edit_cocktail_path(@cocktail) %>
    <%= link_to "Back to home", cocktails_path %>
    <%= link_to "Delete", dose_path,  method: :delete %>
</div>

